<%- include('view/bootheader') -%>
<%- include('view/menubar') -%>
    <div class="jumbotron">
        <h1>Economics</h1>
        <p>Select your textbook</p>
        <a href="/englishTextBooks/generalNotesEcon" class="btn btn-primary">Non Textbook Notes</a>
    </div>




<<<<<<< HEAD
    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Economics")</script>


<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
=======
<%- include("view/notescore") -%>
<%- include('view/bootfooter') -%>
>>>>>>> 5daa1e736288df4b2d86dba449b12cbd116d8e24
