<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Book for <%= book._id %> </h1>
    </div>
    Title: <%= book.bookname  %> <br>
    Chapters: <%= book.bookchapt %>
    <hr>

<%- include('bootfooter') -%>
