<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Books</h1>
    </div>
    <table class="table-bordered table-striped">
        <% for(i = 0; i<books.length; i++){  %>
            <tr>
                <td>
                    <%= books[i].volumeInfo.title %>
                </td>
                <td><%= authors(books[i]) %> ...
               </td>
               <td>
                <a href = "/showBook"><img src="<%= thumbnail(books[i]) %> "> </a>
                  <%//book.title = books[i].volumeInfo.title%>
               </td>
               </tr>
        <% } %>
    </table>
    s
<%- include('bootfooter') -%>
