<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Books</h1>
    </div>
    <table class="table-bordered table-striped">
        <% for(i = 0; i<books.length; i++){  %>
            <form method="post" action="/processBook"> <tr>
                <td>
                  <%= books[i].volumeInfo.title %> <input type="hidden" id="title" name="title" value="<%= books[i].volumeInfo.title %>">
                </td>
                <td><%= authors(books[i]) %> ...
               </td>
               <td>
                <img src="<%= books[i].volumeInfo.imageLinks.thumbnail %> ">
                  <input type="submit" value="Make or view Notes">
               </td>
               </tr>
              </form>
        <% } %>
    </table>
    s
<%- include('bootfooter') -%>
