<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Books</h1>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Book Title</th>
          <th scope="col">Author</th>
          <th scope="col">Cover</th>
        </tr>
      </thead>
      <tbody>
        <% for(i = 0; i<books.length; i++){  %>
            <tr>
                <td>
                  <%= books[i].volumeInfo.title %>
                </td>
                <td><%= authors(books[i]) %> ...
               </td>
               <td>
                <img src="<%= thumbnail(books[i]) %> ">
                <form method="post" action="/processBook">
                  <input type="hidden" id="title" name="title" value="<%= books[i].volumeInfo.title %>">
                  <input type="submit" value="Make or view Notes">
                </form>
               </td>
               </tr>

        <% } %>
        </tbody>
    </table>
    s
<%- include('bootfooter') -%>
