
    <div class="jumbotron">
        <center><b><h1 class="tnr">Notes</h1></b></center>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col"></th>
          <th scope="col">Book</th>
          <th scope="col">Post Date</th>
          <th scope="col">Pages</th>
          <th scope="col">Likes</th>
        </tr>
      </thead>
      <tbody>
      <% for(i = 0; i<notes.length; i++){  %>

          <tr>
            <td>
              <a href="/showNote/<%= notes[i]._id %>">
                <%= notes[i].header %></a>
              </td>
                <td>
              <%= notes[i].text %>
            </td>
               <td>
              <%= notes[i].textbook %>
            </td>
              <td>
                <%= notes[i].postdate %>
              </td>
              <td>
                <%= notes[i].page1 %> - <%= notes[i].page2 %>
              </td>
              <td>
                <%- include('likesys') -%>
              </td>
             </tr>
      <% } %>
      </tbody>
    </table>
