<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Notes</h1>
    </div>
    <table class="table-bordered table-striped">
      <% for(i = 0; i<notes.length; i++){  %>
          <tr>
            <td>
              <a href="/showNote/<%= notes[i]._id %>">
                <%= notes[i].header %></a>
              </td>
                <td>
              <%= notes[i].text %>
            </td>
               <td>
              <%= notes[i].textbook %>
            </td>
             </tr>
      <% } %>
    </table>
<%- include('bootfooter') -%>
