<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <center>
        <h1 class="tnr">Profiles</h1>

          </center>
    </div>

    <ul>
    <% for(i = 0; i<profiles.length; i++){  %>
        <li>
            <a href="/showProfile/<%= profiles[i]._id %>" class="tnr" style="font-size: 20px">
              User: <%= profiles[i].googlename %>
            </a>
        </li>
    <% } %>
    </ul>
<%- include('bootfooter') -%>
