<%- include('view/bootheader') -%>
<%- include('view/menubar') -%>
    <div class="jumbotron">
        <h1>American Literature</h1>
        <p>Select your book.</p>
    </div>

    <a href="/images/english/crucible.jpg"><img src="/images/english/crucible.jpg" style="width: 200px"></a>
    <a href="/images/english/huckFinn.jpg"><img src="/images/english/huckFinn.jpg" style="width: 200px"></a>
    <a href="/images/english/gatsby.jpeg"><img src="/images/english/gatsby.jpeg" style="width: 200px"></a>


<<<<<<< HEAD

    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","American Literature")</script>

<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
=======
<%- include("view/notescore") -%>
<%- include('view/bootfooter') -%>
>>>>>>> 5daa1e736288df4b2d86dba449b12cbd116d8e24
