<%- include('views/bootheader') -%>
<%- include('views/menubar') -%>
    <div class="jumbotron">
        <h1>AP Literature</h1>
        <p>Select your book.</p>
    </div>


<<<<<<< HEAD




    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","AP Literature")</script>

<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
=======
<%- include("views/notescore") -%>
<%- include('views/bootfooter') -%>
>>>>>>> 5daa1e736288df4b2d86dba449b12cbd116d8e24
